.project
.settings/org.eclipse.m2e.core.prefs
ejb-test/.classpath
ejb-test/.settings/org.eclipse.jdt.core.prefs
ejb-test/.settings/org.eclipse.m2e.core.prefs
ejb-client-test/.classpath
ejb-client-test/.settings/org.eclipse.jdt.core.prefs
ejb-client-test/.settings/org.eclipse.m2e.core.prefs
ejb-test/.settings/org.eclipse.wst.common.component
ejb-test/.settings/org.eclipse.wst.common.project.facet.core.xml
ejb-test/.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.core.resources.prefs
ejb-client-test/.settings/org.eclipse.core.resources.prefs
ejb-test/.settings/.jsdtscope
ejb-test/.settings/org.eclipse.core.resources.prefs
ejb-test/.settings/org.eclipse.wst.jsdt.ui.superType.container
ejb-test/.settings/org.eclipse.wst.jsdt.ui.superType.name
ejb-package/.settings/org.eclipse.core.resources.prefs
ejb-package/.settings/org.eclipse.m2e.core.prefs
ejb-package/.settings/org.eclipse.wst.common.component
ejb-package/.settings/org.eclipse.wst.common.project.facet.core.xml
ejb-package/.settings/org.eclipse.wst.validation.prefs
ejb-client-test/.settings/org.jboss.ide.eclipse.as.core.prefs
ejb-model/.classpath
ejb-model/.settings/org.eclipse.core.resources.prefs
ejb-model/.settings/org.eclipse.jdt.core.prefs
ejb-model/.settings/org.eclipse.m2e.core.prefs
ejb-test/.settings/org.jboss.ide.eclipse.as.core.prefs
